:global * {
    margin: 0;
    padding: 0;
}

:global html {
    font-size: 10px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:global *, :global *:before, :global *:after {
    box-sizing: inherit;
}

:global body {
    background: #fff;
}
